# Python
venv/
__pycache__/
*.pyc

# Django
*.log

# Environment variables
.env
.env.*

# Next.js
frontend/node_modules/
frontend/.pnp
frontend/.pnp.*
frontend/.yarn/*
!frontend/.yarn/patches
!frontend/.yarn/plugins
!frontend/.yarn/releases
!frontend/.yarn/versions
frontend/.next/
frontend/out/
frontend/build/
frontend/coverage/
frontend/.vercel/
frontend/*.tsbuildinfo
frontend/next-env.d.ts

# Frontend debug files
frontend/npm-debug.log*
frontend/yarn-debug.log*
frontend/yarn-error.log*
frontend/.pnpm-debug.log*
frontend/*.pem

# OS / editor
.DS_Store
Thumbs.db
.vscode/
